<div class="card">
  <div class="card-header card-header-warning">
    <span>Контакты</span>
    <span class="add-icon-area">
      <button mat-icon-button
              class="add-icon add-contacts"
              (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </div>

  <div *ngIf="contacts && contacts.length > 0"
       class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>#</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>День рождения</th>
      <th>Категория</th>
      <th>Фото</th>
      <th><!-- Действия --></th>
      </thead>
      <tbody>
      <tr *ngFor="let contact of contacts; let i = index">
        <td>{{upcomingBirthdaysParams.pageIndex * upcomingBirthdaysParams.pageSize + i + 1}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.firstName}}</td>
        <td>{{contact.middleName }}</td>
        <td>{{contact.birthday | date : 'dd-MM-Y'}}</td>
        <td [class.unknow-value]="isEmptyProperty('category', contact)">
          {{getPropertyEntityName('category', contact)}}
        </td>
        <td class="contacts-components__photo"><img [src]="contact.photo || 'assets/img/people.svg'"></td>
        <td class="contacts-components__contact-actions">
          <button mat-icon-button
                  (click)="openDeleteDialog(contact)"
                  class="contacts-components__delete-icon">
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
          <button mat-icon-button
                  (click)="openEditDialog(contact)"
                  class="contacts-components__edit-icon edit-icon">
            <mat-icon aria-hidden="false">edit</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <mat-paginator (page)="pageChanged($event)"
                   [pageIndex]="upcomingBirthdaysParams.pageIndex"
                   [pageSize]="upcomingBirthdaysParams.pageSize"
                   [length]="contactsPageCount"
                   [pageSizeOptions]="[5, 10, 20, 50, 100]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
  <div *ngIf="contacts && contacts.length === 0"
       class="card-body">
    <p class="not-found">Ничего не найдено</p>
  </div>
</div>
